body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para{
    background-color: blueviolet;
    height: 300px;
    width: 400px;
    border-color: black;
    border-radius: 15px;
    border-style:double;
    padding: 50px 60px;
    margin: 0px auto;
    box-shadow: 20px 45px 10px orange inset;
    
}
.p1{
    background-color: aqua;
    height: 100px;
    width: 150px;
    border-width: 20px;;
    border-color: brown;
    border-radius: 20px;
    border-style: groove;
    padding-left: 50px;
    padding-top:16px;
    margin:0px auto ;
    box-shadow: -80px 20px 35px #abacef;
}